body {

}

.image {
	width: 100px;
	height: 100px;
}

#header {
	position:fixed;
	left:10%;
	top:5%;
	width:80%;
	background-color: orange;
}

#container {
	position:fixed;
	width:80%;
	left:10%;
	top:10%;
	bottom:10%;
	overflow-y: scroll;
	background-color:lightgrey;
}

#footer {
	position:fixed;
	top:90%;
	left:10%;
	width:80%;
	background-color: grey;
}

.productContainerClass {
	max-height: 106px;
}

.image {
	position:relative;
	left: 20px;
}

.textContainer {
	font-family: monospace;
	position:relative;
	left:130px;
	width: calc(80% - 30px);
	bottom:120px;

}

.name {
	font-weight: 500;
	font-size:20px;
}

.price {
	position:absolute;
	left: calc(100%);
	bottom:0px;
}